.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 750px;
  border-style: solid;
	justify-content: center;
  align-items: center;
  padding: 10px 10px;
  border-radius: 20px;
  background-color: white;
}

.card2 {
  transition: 0.3s;
  max-width: 750px;
  border-style: solid;
  border-radius: 20px;
  border-color: green;
  background-image: url("/src/img/cuervos.jpg");
  background-repeat: no-repeat;
  background-position-y: 292px;
  background-position-x: 557px;
  background-size: 90px;
  
}

.card1:hover {
  box-shadow: 0 10px 16px 0 rgba(12, 146, 5, 0.487);
}

.container-crendencial {
	justify-content: center;
  align-items: center;
  padding: 10px 16px;
}

.logoC{
  margin-top: 2px;
  margin-bottom: 0;
}

.rowC:after {
  content: "";
  display: table;
  clear: both;
}

.colC {
  float: left;
  width: auto;
  margin-top: -12px;
  padding: 12px;
}

.col-25C {
  float: left;
  width: 25%;
  margin-top: 2px;
  display: flex;
}

.col-50C {
  float: left;
  width: 50%;
  margin-top: 2px;
  display: flex;
}
.col-75C {
  float: left;
  width: 75%;
  margin-top: 2px;
  display: flex;
}
.padding-leftC {
  padding-left: 12px;
}
.padding-rightC {
  justify-content: right;
  align-items: right;
}


img{
  max-width:100%;
}

p{
  color:black;
}

.estudianteC{
  max-height:200px;
  width: auto;
  border-style: solid;
  border-color: green;;
}

.letraC{
  font-size: 19.5px;
  line-height: 1;
}
.letra2C{
  font-size: 19.5px;
}
.negritasC{
  font-weight: bold;
  color: black;
}
.cursivaC{
  font-style: oblique;
  color: black;
}